@import 'tailwindcss';
@plugin 'daisyui';

@plugin 'daisyui/theme' {
	name: 'cleo';
	default: true;
	prefersdark: false;
	color-scheme: 'light';
	--color-base-100: oklch(91.637% 0.034 90.515);
	--color-base-200: oklch(88.272% 0.049 91.774);
	--color-base-300: oklch(84.133% 0.065 90.856);
	--color-base-content: oklch(41% 0.112 45.904);
	--color-primary: oklch(47% 0.157 37.304);
	--color-primary-content: oklch(98% 0.003 247.858);
	--color-secondary: oklch(42% 0.095 57.708);
	--color-secondary-content: oklch(98% 0.002 247.839);
	--color-accent: oklch(55% 0.135 66.442);
	--color-accent-content: oklch(96% 0.007 247.896);
	--color-neutral: oklch(47% 0.114 61.907);
	--color-neutral-content: oklch(86% 0.005 56.366);
	--color-info: oklch(50% 0.134 242.749);
	--color-info-content: oklch(96% 0.059 95.617);
	--color-success: oklch(43% 0.078 188.216);
	--color-success-content: oklch(96% 0.059 95.617);
	--color-warning: oklch(55% 0.195 38.402);
	--color-warning-content: oklch(96% 0.059 95.617);
	--color-error: oklch(57% 0.245 27.325);
	--color-error-content: oklch(96% 0.003 264.542);
	--radius-selector: 0.25rem;
	--radius-field: 0.25rem;
	--radius-box: 0.5rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 0;
	--noise: 0;
}

@plugin 'daisyui/theme' {
	name: 'coffee';
	default: false;
	prefersdark: true;
	color-scheme: 'dark';
	--color-base-100: #191019;
	--color-base-200: #1e151d;
	--color-base-300: #120a11;
	--color-base-content: oklch(72.354% 0.092 79.129);
	--color-primary: oklch(71.996% 0.123 62.756);
	--color-primary-content: oklch(14.399% 0.024 62.756);
	--color-secondary: oklch(47% 0.137 46.201);
	--color-secondary-content: oklch(86.893% 0.005 199.194);
	--color-accent: oklch(43% 0.078 188.216);
	--color-accent-content: oklch(88.524% 0.014 224.389);
	--color-neutral: oklch(27% 0.077 45.635);
	--color-neutral-content: oklch(83.302% 0.003 326.261);
	--color-info: oklch(79.49% 0.063 184.558);
	--color-info-content: oklch(15.898% 0.012 184.558);
	--color-success: oklch(74.722% 0.072 131.116);
	--color-success-content: oklch(14.944% 0.014 131.116);
	--color-warning: oklch(88.15% 0.14 87.722);
	--color-warning-content: oklch(17.63% 0.028 87.722);
	--color-error: oklch(77.318% 0.128 31.871);
	--color-error-content: oklch(15.463% 0.025 31.871);
	--radius-selector: 1rem;
	--radius-field: 0.5rem;
	--radius-box: 1rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 0;
	--noise: 0;
}

.fancy-font,
h1,
h2,
h3 {
	font-family: 'Irish Grover', system-ui;
	font-weight: 400;
	font-style: normal;
}
